$primary-color: #275481;
$secondary-color: #457ba4;
$margin: 10px;
$mobile: 975px;

@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }   
}
body{
    margin: 0;
    background-color: #f1f5f6;
}

.primarylist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
}

.primarylist li {
    float: left;
    @include mobile{
        width: 100%;
    }
}

.secondarylist{
    @extend .primarylist;
    display:flex;
    justify-content: center;
    margin-top: $margin*2;
    margin-bottom: $margin*2;
    
}

.secondarylist li{
   margin-right: $margin;
   margin-left: $margin;
}

.secondarylist li img{
   @include mobile{
        width: 100%;
    }
}
nav{
    ul {
    @extend .primarylist;
    background-color: $primary-color;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover{
        background-color: $secondary-color;
    }
    }

    input[type=text] {
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        margin-left: 16px;
        font-size: 17px;
        @include mobile{
        width: 80%;
        margin: 0 auto;
    }
    }
}

main{
    .bannercontainer{
        background-color: $secondary-color;
        padding: 20px 0;
        
    }
    .bannercontainer img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include mobile{
        width: 80%;
    }
    }  
   
}

footer{
    .footercontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $secondary-color;
        @include mobile{
        flex-direction: column;
    }
        
    }

    ul{
        color: #ffffff;
        list-style-type: none;
        
    }

    li{
        margin-top: $margin;
        margin-bottom: $margin;
        
    }
}